/* Base styles */
*, *:after, *:before {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  line-height: 1.5;
  height: 100%;
}

h2 {
    position: absolute; 
    z-index: 99;
    text-align: center;
}


.jam {
  font-size: 20px;
  color: #FFF;
  position:absolute;
  bottom: 20px;
  left: 20px;
}

.tanggal {
  background: rgba(0,0,0,0.35);
  padding: 0px 25px;
}

#clock {
  font-size: 70px;
  background: rgba(0,0,0,0.35);
  padding: 0px 25px;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  min-height: 100%;
  background-size: 100% 100%;    
  background-repeat: no-repeat;
  color: #757575;
}

.malam {
  background-image: url('../img/malamhari.jpg');
}

.siang {
  background-image: url('../img/sianghari.jpg');
}

.pagi {
  background-image: url('../img/pagihari.jpg');
}

img {
  vertical-align: middle;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.profile__company {
  z-index: 1;
  position: absolute;
  margin-top: 80px;
  margin-left: 125px;    
  text-align: center;  
  font-weight: 400;
  color:#FFF;   
  font-size: 18px;
  background: rgba(0,0,0,0.35);
  letter-spacing: 2px;
}

/* Container */
.container {
  position: absolute;
  width: 24em;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  animation: intro .7s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

/* Profile Card */
.profile {
  position: relative;
}


.profile--open .profile__form {
  margin-top: 80px;    
  visibility: visible;
  height: auto;
  opacity: 1;
  transform: translateY(-6em);
  padding-top: 12em;
}
.profile--open .profile__fields {
  opacity: 1;
  visibility: visible;
}
.profile--open .profile__avatar {
  transform: translate(-50%, -1.5em);
/*  border-radius: 50%;*/
  border:0px;
  margin-top: 20px;
}

.profile--open .profile__company {
    background:white;
    color:#579201;
    margin-top:50px;
    font-size: 18px;
    font-style: italic;
/*    margin-left: 120px; */ 
}

.profile__form {
  position: relative;
  background: white;
  visibility: hidden;
  opacity: 0;
  height: 0;
  padding:3em;
  border-top: 20px solid #579201; 
  -webkit-filter: drop-shadow(0 0 2em rgba(0,0,0,0.2));
  transition: 
    opacity .4s ease-in-out,
    height .4s ease-in-out,
    transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.profile__fields {
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.profile__avatar {
  padding: 10px;    
  border: 3px solid #579201;    
  position: absolute;
  top:-65px;      
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6px;
  overflow: hidden;
  width: 10em;
  height: 10em;
  display: block;
  transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  will-change: transform;
}
.profile__avatar:focus {
  outline: 0;
}
.profile__footer {
  padding-top: 1em;
}


/* Form */
.field {
  position: relative;
  margin-bottom: 2em;
}
.label {
  left: 0px;
  position: absolute;
  height: 2rem;
  line-height: 1.5rem;
  bottom: 0;
  color: #999;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.input {
  width: 100%;
  font-size: 100%;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 2.5rem;
  line-height: 2.5rem;
  border-bottom: 1.5px solid #757575;
  color: #757575;
  transition: all .2s ease-in;
}
.input:focus {
  outline: 0;
  border-bottom: 1.8px solid #588F27;    
  border-color:#588F27;
}

/* Using required and a faux pattern to see if input has text from http://stackoverflow.com/questions/16952526/detect-if-an-input-has-text-in-it-using-css */
.input:focus + .label,
input:valid + .label {
  transform: translateY(-100%);
  font-size: 0.75rem;
  color:#757575;
}

/* Button */
.btn {    
  padding: 10px 45px;    
  border: 0;
  font-size: 1rem;
  background:#2D5609;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: .2em;
  transition: background .2s;
  border:2.5px solid #2D5609;
}

.btn:focus {
  outline: 0;
}

.btn:hover,
.btn:focus {
  border:2.5px solid #588F27;
  color: #588F27;
  font-weight:800;    
  background:#FFF;
  transition-duration: 0.8s;    
}


/* Intro animation */
@keyframes intro {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}


@media (max-height: 540px) and (max-width: 480px) {
    .jam {
      font-size: 15px;
      bottom: 5px;
      left: 5px;
    }

    .tanggal {
      padding: 0px 25px;
    }

    #clock {
      font-size: 25px;
      padding: 0px 25px;
    }
}


